body
{
    background-image: linear-gradient(rgb(153, 153, 239) , rgb(0, 191, 255));
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
}
.options
{
    background-color: rgb(5, 255, 188);
    font-family:'Courier New', Courier, monospace;
    font-size: 28px;
    color: white;
    font-weight: bolder;
    padding:10px;
    text-decoration:none;
}
#heading1
{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    border-radius: 0px;
    margin-top: 0px;
    font-weight: bolder;
    background-color: rgb(135, 204, 244);
}
#heading2
{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
canvas
{
    margin-top: 20px;
}